<script src="{{ "static/js/scroll.js" | relative_url }}"></script>
<script src="{{ "static/js/localization.js" | relative_url }}"></script>
<script async src="{{ "static/js/count.min.js" | relative_url }}"></script>

<!-- Baidu analytics -->
{% if site.ba %}
  <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?{{ site.ba.uuid }}";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
  </script>
{% endif %}

<!-- Google analytics -->
{% if site.ga %}
  {% include analytics.html %}
{% endif %}
